/*========================= GLOBAL ============================*/

html,
body {
  font-family: SF, sans-serif;
  color: #515151;
  line-height: 16px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1123px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.main__products {
  margin: 100px 0px 24px 0px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 8px;
  background: #f3f3f2;
}

/*========================= HEADER ============================*/

.header {
  position: fixed;
  width: 100%;
  background: #fff;
  top: 0;
  z-index: 100;
}

.header__top {
  height: 60px;
}

.header__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__left-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__menu-items {
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.24px;
}

.header__menu-item {
  padding: 0 10px;
  transition: all 0.2s;
}

.header__menu-item:hover {
  color: #000000;
}

.header__button-box {
  display: flex;
}

.header__button {
  margin: 0px 10px 0px 0px;
}

.header__button:last-child {
  margin: 0;
}

/*========================= HEADER-BANNER =====================*/

.header__banner {
  width: 100%;
  height: 403px;
  background: url('../images/header-banner.jpg') center no-repeat;
  background-size: cover;
}

/*========================= MAIN ==============================*/

.main {
  margin: 100px 0px 0px 0px;
}

.main__product {
}

.main__product-inner {
  display: flex;
}

.main__product-img {
  width: 100%;
  height: 100%;
}

.main__product-img img {
  height: 850px;
}

.main__product-info {
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

.main__product-marks {
  display: flex;
  margin: 0px 10px 5px 0px;
  padding: 0px 0px 10px 0px;
}

.main__product-mark {
  padding: 4px 6px;
  text-transform: uppercase;
  background: #000;
  color: #fff;
  border-radius: 4px;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
}

.main__product-mark--tshirts {
  background: #5f9be0;
}

 .main__product-mark--sweatshirts  {
  background: #000;
}

.main__product-mark--accessories {
  background: #e05fd5;
}

.main__product-name {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.main__product-subprice {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 5px 0px 0px 0px;
}

.main__product-size {
  margin: 20px 0;
}

.main__size-button {
  color: #15090080;
  text-transform: uppercase;
  height: 38px;
  width: 38px;
  border-radius: 8px;
  margin: 0px 10px 0px 0px;
  background: transparent;
  border: 2px solid rgba(21, 9, 0, 0.05);
}

.main__size-button--active {
  background: #000;
  color: #fff;
}

.main__product-subtitle {
  font-size: 12px;
  font-weight: 500;
  margin: 0px 0px 10px 0px;
}

.main__product-description {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #15090080;
  margin: 0px 0px 20px 0px;
}

.main__product-description p {
  margin: 10px 0;
}

.main__product-price {
  background: #f3f3f2;
  padding: 15px;
  margin: 0px 0px 25px 0px;
  border-radius: 20px;
}

.main__price-title {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
}

.main__price-description {
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}

.main__price-description span {
  color: #000;
  font-weight: 400;
}

.main__product-button {
  color: #fff;
  padding: 15px 16px;
  width: 100%;
  background: #000;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

/*========================= FOOTER ============================*/

.footer {
  background: #000;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
}

.footer__navigation {
  letter-spacing: 0.24px;
  line-height: 14px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.footer__list-item {
}

.footer__item-title {
  padding: 10px 0;
}

.footer__menu {
}

.footer__menu-item {
  max-width: 240px;
  font-weight: 300;
  padding: 10px 0;
}

.footer__link {
  padding: 10px 0;
}

/*========================= FOOTER-COPYRIGHT ==================*/

.footer__copyright {
  height: 64px;
}

.footer__copyright-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo img {
  height: 27px;
}

.footer__text {
}
